		<a id="anchorTarget"></a>
		<div id="nav_dropdowns">
			<ul id="dropdown3" class="desplegable">
				<li><a class="texto-centro" href="/html.html">Básico</a></li>
				<li><a class="texto-centro" href="/html5.html">HTML5</a></li>
				<li><a class="texto-centro" href="/fw-html.html">Útiles</a></li>
			</ul>
			<ul id="dropdown2" class="desplegable">
				<li><a class="texto-centro" href="/css.html">Básico</a></li>
				<li><a class="pendiente texto-centro" aria-disabled="true">CSS3</a></li>
				<li><a class="texto-centro" href="/fw-css.html">FrameWorks</a></li>
			</ul>
			<ul id="dropdown1" class="desplegable">
				<li><a class="texto-centro" href="/js.html">Báscio</a></li>
				<li><a class="texto-centro" href="/es6.html">ES6</a></li>
				<li><a class="texto-centro" href="/fw-js.html">FrameWorkss</a></li>
			</ul>
		</div>

		<header>
			<nav>
				<div class="barra container">
					<ul class="solo-escritorio">
						<li><a class="desplegable-boton html" href="#!" data-target="dropdown3">HTML</a></li>
						<li><a class="desplegable-boton css" href="#!" data-target="dropdown2">CSS</a></li>
						<li><a class="desplegable-boton js" href="#!" data-target="dropdown1">JavaScript</a></li>
						<li><a title="Guías según lenguaje" class="resto" href="/guias.html">Guías</a></li>
						<li><a class="resto" href="/relacionando.html">Relacionado</a></li>
						<li><a class="resto" href="/diario/"{% if seccion == "diario" %} aria-current="page"{% endif %}>Diario</a></li>
					</ul>
					<a href="#" class="menu-boton" data-target="menu-lateral" aria-label="Abrir menú">
						<i aria-hidden="true" class="material-icons">menu</i></a>

					<div id="logo">
						<a data-position="left" data-tooltip="Click! => Inicio" href="/index.html">
							<img src="/img/fav1.png" alt="Logo">
						</a>
					</div>

					<ul id="menu-lateral" class="menu-lateral purpur">
						<li>
							<div class="menu-lateral-cabecera">
								<a href="/index.html" aria-label="Inicio"><i aria-hidden="true" class="material-icons texto-suave">home</i></a>
								<div class="menu-lateral-fondo">
									<img src="/img/dedojpeg.jpg" alt="Fondo menú móvil">
								</div>
							</div>
						</li>
						<li><a href="/html.html" class="texto-html html"><i aria-hidden="true" class="material-icons texto-html html">check_box_outline_blank</i>HTML</a></li>
						<li><a href="/css.html" class="texto-css css"><i aria-hidden="true" class="material-icons texto-css">check_box_outline_blank</i>CSS</a></li>
						<li><a href="/js.html" class="texto-js js"><i aria-hidden="true" class="material-icons texto-js">check_box_outline_blank</i>JavaScript</a></li>
						<li><a href="/guias.html" class="texto-acento resto"><i aria-hidden="true" class="material-icons texto-acento">check_box_outline_blank</i>Guías</a></li>
						<li><a href="/relacionando.html" class="texto-acento resto"><i aria-hidden="true" class="material-icons texto-acento">check_box_outline_blank</i>Relacionado</a></li>
						<li><a href="/diario/" class="texto-acento resto"><i aria-hidden="true" class="material-icons texto-acento">check_box_outline_blank</i>Diario</a></li>
						<li><a href="/contacto.html" class="texto-css"><i aria-hidden="true" class="fab fa-telegram texto-css"></i>Contacta</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<div class="botonera-flotante">
			<a class="btn btn--redondo btn--grande resto">
				<i aria-hidden="true" class="fas fa-cog fa-spin"></i>
			</a>
			<ul>
				<li><a class="btn btn--redondo resto anchorLink" href="#anchorTarget" aria-label="Volver arriba"><i aria-hidden="true" class="fas fa-chevron-up"></i></a></li>
				<li><a class="btn btn--redondo resto" href="#footer" aria-label="Ir al pie de página"><i aria-hidden="true" class="fas fa-chevron-down"></i></a></li>
			</ul>
		</div>
