		<footer class="pie">
			<a id="footer"></a>
			<div class="container">
				<div class="grid grid--compacta">
					<div class="texto-centro">
						<p class="texto-html texto-centro">Mapa del sitio</p>
						<hr class="texto-css">
						<a class="texto-claro html" href="/html.html">HTML,</a>
						<a class="texto-claro css" href="/css.html">CSS,</a>
						<a class="texto-claro js" href="/js.html">JS,</a>
						<a class="texto-claro resto" href="/guias.html">Guías,</a>
						<a class="texto-claro resto" href="/relacionando.html">Relacionado,</a>
						<a class="texto-claro resto" href="/diario/">Diario.</a>
					</div>
					<div class="texto-centro">
						<p class="texto-css texto-centro">Contacto</p>
						<hr class="texto-js">
						<ul>
							<li><a class="texto-claro css" href="https://twitter.com/messages/compose?recipient_id=3364552791&ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><i aria-hidden="true" class="fab fa-twitter fa-1x"></i></a></li>
						</ul>
					</div>
					<div class="texto-centro">
						<p class="texto-js texto-centro">RRSS</p>
						<hr class="texto-php">
						<a class="texto-acento js" href="https://twitter.com/Sinarkista?ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><i aria-hidden="true" class="fab fa-twitter fa-3x"></i></a>
						<a class="texto-css js" href="https://www.facebook.com/facundohetoro" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i aria-hidden="true" class="fab fa-facebook-f fa-3x"></i></a>
						<a class="texto-html js" href="https://www.youtube.com/channel/UC5_EM3MOGWl1uMlq23qq8Rg" target="_blank" rel="noopener noreferrer" aria-label="YouTube"><i aria-hidden="true" class="fab fa-youtube fa-3x"></i></a>
						<a class="texto-js js" href="https://soundcloud.com/puro3" target="_blank" rel="noopener noreferrer" aria-label="SoundCloud"><i aria-hidden="true" class="fab fa-soundcloud fa-3x"></i></a>
					</div>
					<div class="texto-centro">
						<p class="texto-acento texto-centro">Fuentes</p>
						<hr class="resto">
						<ul>
							<li><a title="Google Developers" class="texto-claro nodeh" href="https://developers.google.com/products/" target="_blank" rel="noopener noreferrer">Google</a></li>
							<li><a title="Microsoft Desarrolladores" class="texto-claro nodeh" href="https://msdn.microsoft.com/es-es" target="_blank" rel="noopener noreferrer">Microsoft</a></li>
							<li><a title="Mozzila Developer" class="texto-claro nodeh" href="https://developer.mozilla.org/es/" target="_blank" rel="noopener noreferrer">Mozilla</a></li>
							<li><a title="W3C Schools" class="texto-claro nodeh" href="https://www.w3schools.com/" target="_blank" rel="noopener noreferrer">W3Cs</a></li>
							<li><a title="StackOverFlow" class="texto-claro nodeh" href="https://es.stackoverflow.com/users/95378/loki-farbauti-laufey" target="_blank" rel="noopener noreferrer">StackOverFlow</a></li>
						</ul>
					</div>
					<div class="texto-centro">
						<p class="texto-centro">Blogs</p>
						<hr class="texto-html">
						<ul>
							<li><a title="César Jodra" class="texto-claro resto" href="https://cesarjodra.wordpress.com/" target="_blank" rel="noopener noreferrer">César Jodra</a></li>
							<li><a title="Javier Gosende" class="texto-claro resto" href="https://www.javiergosende.com/" target="_blank" rel="noopener noreferrer">Javier Gosende</a></li>
							<li><a title="Romuald Fons" class="texto-claro resto" href="https://romualdfons.com/que-es-el-seo/" target="_blank" rel="noopener noreferrer">Romuald Fons</a></li>
						</ul>
					</div>

					<div class="grid-completa reduce">
						<p class="resenyas texto-suave">Hecho con la ayuda de
							<a href="https://fonts.google.com/" target="_blank" rel="noopener noreferrer"><img id="fonts" data-hover-src="{{ '/img/gf1.png' | url }}" src="/img/gf.png" alt="Google Fonts" title="GoogleFonts"></a>
							<a href="https://fontawesome.com/" target="_blank" rel="noopener noreferrer"><img id="fawesome" data-hover-src="{{ '/img/fntaw1.png' | url }}" src="/img/fntaw.png" alt="FontAwesome" title="FontAwesome"></a>
							<a href="https://material.io/tools/icons/?style=baseline" target="_blank" rel="noopener noreferrer"><img id="mati" data-hover-src="{{ '/img/mati1.png' | url }}" src="/img/mati.png" alt="MaterialIcons" title="MaterialIcons"></a>
						</p>
					</div>
				</div>
			</div>
		</footer>
