		<footer class="page-footer black">
			<a id="footer"></a>
			<div class="container">
				<div class="row">
					<div class="col l2 s12 center">
						<p class="red-text center">Mapa del sitio</p>
						<hr class="blue-text">
						<a class="white-text html" href="/html.html">HTML,</a>
						<a class="white-text css" href="/css.html">CSS,</a>
						<a class="white-text js" href="/js.html">JS,</a>
						<a class="white-text resto" href="/guias.html">Guías,</a>
						<a class="white-text resto" href="/relacionando.html">Relacionado,</a>
						<a class="white-text resto" href="/diario/">Diario.</a>
					</div>
					<div class="col l2 s5 center">
						<p class="blue-text center">Contacto</p>
						<hr class="yellow-text">
						<ul>
							<li><a class="white-text css" href="https://twitter.com/messages/compose?recipient_id=3364552791&ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><i aria-hidden="true" class="fab fa-twitter fa-1x"></i></a></li>
						</ul>
					</div>
					<div class="col l2 s7 center">
						<p class="yellow-text center">RRSS</p>
						<hr class="deep-purple-text">
						<a class="cyan-text js" href="https://twitter.com/Sinarkista?ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><i aria-hidden="true" class="fab fa-twitter fa-3x"></i></a>
						<a class="blue-text text-darken-3 js" href="https://www.facebook.com/facundohetoro" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i aria-hidden="true" class="fab fa-facebook-f fa-3x"></i></a>
						<a class="red-text js" href="https://www.youtube.com/channel/UC5_EM3MOGWl1uMlq23qq8Rg" target="_blank" rel="noopener noreferrer" aria-label="YouTube"><i aria-hidden="true" class="fab fa-youtube fa-3x"></i></a>
						<a class="orange-text js" href="https://soundcloud.com/puro3" target="_blank" rel="noopener noreferrer" aria-label="SoundCloud"><i aria-hidden="true" class="fab fa-soundcloud fa-3x"></i></a>
					</div>
					<div class="col l2 s5 center">
						<p class="lime-text text-accent-3 center">Fuentes</p>
						<hr class="resto">
						<ul>
							<li><a title="Google Developers" class="white-text nodeh" href="https://developers.google.com/products/" target="_blank" rel="noopener noreferrer">Google</a></li>
							<li><a title="Microsoft Desarrolladores" class="white-text nodeh" href="https://msdn.microsoft.com/es-es" target="_blank" rel="noopener noreferrer">Microsoft</a></li>
							<li><a title="Mozzila Developer" class="white-text nodeh" href="https://developer.mozilla.org/es/" target="_blank" rel="noopener noreferrer">Mozilla</a></li>
							<li><a title="W3C Schools" class="white-text nodeh" href="https://www.w3schools.com/" target="_blank" rel="noopener noreferrer">W3Cs</a></li>
							<li><a title="StackOverFlow" class="white-text nodeh" href="https://es.stackoverflow.com/users/95378/loki-farbauti-laufey" target="_blank" rel="noopener noreferrer">StackOverFlow</a></li>
						</ul>
					</div>
					<div class="col l2 s7 center">
						<p class="center">Blogs</p>
						<hr class="red-text text-accent-3">
						<ul>
							<li><a title="César Jodra" class="white-text resto" href="https://cesarjodra.wordpress.com/" target="_blank" rel="noopener noreferrer">César Jodra</a></li>
							<li><a title="Javier Gosende" class="white-text resto" href="https://www.javiergosende.com/" target="_blank" rel="noopener noreferrer">Javier Gosende</a></li>
							<li><a title="Romuald Fons" class="white-text resto" href="https://romualdfons.com/que-es-el-seo/" target="_blank" rel="noopener noreferrer">Romuald Fons</a></li>
						</ul>
					</div>

					<div class="col l12 s12 m12 reduce">
						<p class="resenyas grey-text text-darken-2">Hecho con la ayuda de
							<a href="https://materializecss.com/about.html" target="_blank" rel="noopener noreferrer"><img id="materializecss" class="responsive-img" data-hover-src="{{ '/img/materialize-teal.png' | url }}" src="/img/materialize-grey.png" title="Materializecss" alt="Logo de Materializecss"></a>
							<a href="https://fonts.google.com/" target="_blank" rel="noopener noreferrer"><img id="fonts" class="responsive-img" data-hover-src="{{ '/img/gf1.png' | url }}" src="/img/gf.png" alt="Google Fonts" title="GoogleFonts"></a>
							<a href="https://fontawesome.com/" target="_blank" rel="noopener noreferrer"><img id="fawesome" class="responsive-img" data-hover-src="{{ '/img/fntaw1.png' | url }}" src="/img/fntaw.png" alt="FontAwesome" title="FontAwesome"></a>
							<a href="https://material.io/tools/icons/?style=baseline" target="_blank" rel="noopener noreferrer"><img id="mati" class="responsive-img" data-hover-src="{{ '/img/mati1.png' | url }}" src="/img/mati.png" alt="MaterialIcons" title="MaterialIcons"></a>
						</p>
					</div>
				</div>
			</div>
		</footer>
